@font-face {
    font-family: jurassic;
    src: url(../assets/JurassicPark-BL48.ttf);
}


* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px 0 15px;
}

.list {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-left: 50px
}

.link-list-element {
    font-family: jurassic;
    font-weight: 200;
    font-size: 2.1rem;
    text-decoration: none;
    color: rgb(56, 27, 27);
}

.link-list-element:hover {
    color: rgb(226, 96, 96);
    transition: 0.5s;
}

.logo {
    width: 56px;
    border-radius: 100%;
    object-fit: cover;
    margin-left: 10px;
}

.header {
    height: 70vh;
    background-image: url("../img/imagemFundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.gradiente_header {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.5130427170868348) 28%, rgba(6,85,28,0.36738445378151263) 86%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradiente_header_texto {
    font-family: jurassic;
    font-weight: 400;
    font-size: 10vh;
    color: white;
    width: 80%;
    margin: 0;
}

.dino_01 .titulo {
    font-family: jurassic;
    font-size: 8vh;
    text-align: center;
}

.sessao_imagem{
    margin: 25px 20px 0 20px;
    display: flex;
    justify-content: space-between;
 }

 .sessao_imagem img{
    object-fit: contain;
    /*border: solid yellow;*/
    width: 25%;
 }